@charset "utf-8";
/* CSS Document */

@import url("reset.css");

body {background:#ffebd3; font-family:Arial, Helvetica, sans-serif; -webkit-text-size-adjust:none; font-family:"Helvetica Neue", Helvetica, Arial,"Microsoft Jhenghei", "微軟正黑體", sans-serif;}

#mobile-layout{position: relative;}
#mobile-layout>img{width: 100%;}
#normal-layout { display:none;}
.m_header{position: absolute;left:0;top:0;z-index: 9;width: 100%;height:100%;}
.fb,.mb_logo{position:absolute;top:2%; right:4%; width: 12%;}
.mb_logo{left:1%;width: 44%;top:1%;}
.m_menu{position:absolute;top: 59%;left:5%;width: 90%;}
.m_menu li { margin-bottom:15px;}
.m_menu li img{width: 100%;}
