@charset "utf-8";
/* CSS Document */

@import url("reset.css");

body {font-family:Arial, Helvetica, sans-serif; -webkit-text-size-adjust:none; font-family:"Helvetica Neue", Helvetica, Arial,"Microsoft Jhenghei", "微軟正黑體", sans-serif;}

    
/*
    隐藏手机版本
 * */
#mobile-layout{
    display: none;
}
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dd,dt,p,li,input,form,fieldset,legend,img { margin:0; padding:0;}
ul,ol{ list-style:none;}
input{ border:0 none; outline-style:none;}  /*清除盒子外边框，外发光*/
.wrap{ width:1568px; margin:0 auto;} /*版心宽度*/
.clearfix:after{ content:""; height:0; line-height:0; display:block; visibility:hidden; clear:both; }
.clearfix{zoom:1;} /*为了兼容低版本IE浏览器*/
a{ text-decoration:none; color:#666; font-size:12px;font-family:"微软雅黑";}
i{ font-style:normal;}
/*html,body{overflow-y:hidden;}*/
a:hover{color:#000;}
img{ max-width:100%;display: block;}
body{
    overflow: hidden;
}
html,body,#normal-layout,.banner,.scroll,.banner ul,.banner ul li,.banner ul li a,.banner ul li a img{height: 100%;}
#normal-layout{position: relative;}
.banner ul{width: 1000%;position: absolute;}
.banner ul li{float: left;width: 10%;}
.banner ul li a{width: 100%;}
.banner ul li a img{width: 100%;}
.content{position: absolute;left:10%;top:0;width: 80%;height: 100%;}
.fb{position: absolute;right:15%;top:-1.4%;width: 152px;height: 61px;background: url(../images/fb_bg.png) no-repeat;text-align: center;}
.fb a{margin: 22px 0 0 0;display: inline-block;}
.fb a.zan{width: 75px;height: 20px;background:url(../images/zan.png) no-repeat;}
.fb a.share{width: 32px;height: 20px;background:url(../images/share.png) no-repeat;}
.content-left{
    float: left;
    margin-top: 1%; 
}
.logo{
    width: 417px;
    height: 191px; 
}
.logo a{
    width: 100%;
    height: 100%;
    background:url(../images/logo.png) no-repeat;
    display: block;
    text-indent: -9999px;
    margin-left: -2%;
}
.btn_box{
    width: 383px;
    height: 380px;
    background: url(../images/btn_bg.png) no-repeat;
    padding:13px 0 0;
    text-align: center;
    box-sizing: border-box;
    margin-top: -2%;
}
.btn_box .btn01{
    width: 90%;
    display: inline-block;
}
.btn_box .btn01 img{
    width: 100%;
}    
.btn_box .btn_span{
    width: 50%;
    display: block;
    margin: 65px 0 0 27px;
}
.btn_box .search_btn{
    width: 90%;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    cursor: pointer;
}
.btn_box .search_btn img{
    width: 100%;
}
.btn_box .search_btn input,.btn_box .search_btn a{
    position: absolute;
}
.btn_box .search_btn input{
    width: 166px;
    height: 40px;
    right:15px;
    top:15px;
    font-size: 16px;
    line-height: 40px;
}
.btn_box .search_btn a{
    right: 11px;
    top:11px;
}
.slogan{
    position: absolute;
    left:50%;
    bottom: 3px;
    margin-left:-35%;
    width: 70%;
}
.content-right{
    float: right;
    margin-top: 4%;
}
.content-right ol {
    width:340px;
}
.content-right li{width:340px;height:130px;position: relative;}
.content-right li:nth-child(1).active{background:url(../images/shuangdao_hover.png) no-repeat;height:145px;}
.content-right li:nth-child(2).active{background:url(../images/baiyi_hover.png)  no-repeat;height:145px;}
.content-right li:nth-child(3).active{background:url(../images/fashi_hover.png)  no-repeat;height:145px;}
.content-right li:nth-child(4).active{background:url(../images/luneng_hover.png) no-repeat;height:145px;}
.content-right li span{position: absolute;top:10px;right:10px;width: 119px;height: 119px;background: url(../images/shuangdao.png) no-repeat; display: block;cursor: pointer;}
.content-right li span.baiyi{background: url(../images/baiyi.png) no-repeat;}
.content-right li span.fashi{background: url(../images/fashi.png) no-repeat;}
.content-right li span.luneng{background: url(../images/luneng.png) no-repeat;}

.content-right span:hover{-webkit-transform: scale(1.07);
                       -moz-transform: scale(1.07);
                        -ms-transform: scale(1.07);
                         -o-transform: scale(1.07);
                            transform: scale(1.07);
                        } 

@media screen and (max-width:992px) {
    .content{width: 98%;left:1%;}
    .logo{width: 390px;}

}